<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Customers page</h1>
<<div id="wrapper">

</div>
<button onclick="window.location.href='add'" >Add Customer</button>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="customer: ${customers}">
        <td >[[${customer.firstName}]]</td>
        <td>[[${customer.lastName}]]</td>
        <td>[[${customer.email}]]</td>
        <td>
            <a th:href="@{/customer/showFormForUpdate?customerId={id}(id = ${customer.id})}">Update</a>
         || <a th:href="@{/customer/delete?customerId={id}(id = ${customer.id})}">Delete</a></td>
    </tr>

</table>
<div>

</div>
</body>
</html>